@font-face {
    font-family: 'ITC';
    src: url('assets/fonts/itczapfbookmedium.otf') format('otf');
    font-style: normal;
}

@font-face {
    font-family: 'madetommy';
    src: url('assets/fonts/madetommylight.otf') format('otf');
    font-style: normal;
}

:root {
    --pri: #189384;
    --sec: #189384;
    --ter: #ffffff;
    --popup: #ffffff;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--ter);
    color: var(--sec);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.samoainicio {
    display: flex;
    flex-direction: column;
    width: 15vh;
    text-align: center;
}

.logosamoa {
    padding: 1em;
    height: 150px;
}

.logosamoa img {
    height: 100%;
    width: 100%;
}

.samoaitens {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
    margin-bottom: 10vh;
}

.samoaitens img {
    height: 300px;
    width: 300px;
}

.samoaitens p {
    font-size: 50pt;
}

.footersamoa {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100vw;
    background-color: #189384;
}

.footersamoa img {
    height: 5vh;
}